<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "questionnaireService" class="com.alex.studentquestionaire.Service.QuestionnaireServiceImpl">
        <constructor-arg ref="quizDao"/>
    </bean>

    <bean id="quizDao" class="com.alex.studentquestionaire.DAO.QuizDAOImpl">
        <constructor-arg value = "DumbQuestions.csv"/>
    </bean>

</beans>